.stripContainer
{ width: 100%;
  // border:1px solid green;
  .stripList
  {
    max-width: 950px;
    width:100%;
    margin-left:120px;
    // border:1px solid red;
  }
  
.stripItem
{
  cursor: pointer;
  // border: 1px solid white;
  border-radius: 27px;
  padding: 3px 12px;
  color:white;
}
.stays 
{
  border:2px solid rgb(243, 217, 217);
}
.stripItem:hover{
  background-color: rgb(243, 217, 217);
}
}