.bodyWrapper
{
// border:1px solid red;
// background-color: rgba(170, 109, 170, 0.534);
margin-left: 120px;
max-width: 630px;
color:white;
.bodyText
{
    max-width: 530px;
    // border: 1px solid green;

}

}