.navbar
{
width:100%;
// max-width: 1024px;
height: 10%; 
// background:#003580;
color:white;
.navbarContainer
{
    max-width: 1224px;
    width:100%;
    margin-left:120px;
    margin-right: 120px;
    // border:1px solid white;
}
.propertyLink
{
    color:white;
    text-decoration: none;
}
}