.placeSearchContainer
{
    max-width: 1000px;
    margin-left: 120px;
    margin-right: 120px;
    border:1px solid red;
}
.placeSearchContainer
{
    width: 250px;
    height: 43px;
    border: 1px solid blue;

}
.placeInput
{
width: 544px;
height: 13px;
}